@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&family=Open+Sans:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
 background: linear-gradient(128.74deg, #6DF2DA 18.38%, #31C6AB 136.12%);
}
.wrapper
{
    width: 1600x;
    height: 950px;

}
.navigation
{
    display: flex;
    flex-direction: row; 
    margin: 108px 215px;
    
}
.logo
{
    display: flex;
    width: 241.21px;
    height: 73.5px;
   
}
.logo img
{
    height: 48px;
    width: 48px;
    left: 227px;
    top: 114px;
    border-radius: 10px;
}
.logo p
{
    font-size: 24px;
    font-weight: 900;
    line-height: 29.26px;
    text-align: center;
    color: #222424;
    margin: 6px;
    font-family: Montserrat;
}
.menu
{
    display: flex;
    width: 527px;
    height: 39px;
    align-items: center;
    justify-content: space-between;
}
.menu a
{
    text-decoration: none;
    color: #222424;
    font-family: Montserrat;
    /* position: relative; */
}
.phone
{
    width: 158px;
    height: 24px;
    display: flex;
    margin: 8px 10px;
}
.phone img
{
    width: 16px;
    height: 15px;
}
.phone p
{
    
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}

.basket
{
    display: flex;
    height: 35px;
    margin: 0px 7px;
    width: 137px;
    
}
.basket p
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 6px 0;
    /* width: 100px; */
}
.basket_logo
{
    width: 28px;
    height: 28px;
    margin: 6px;
    background: #fff;
    border-radius: 10px;
    
}
.basket_arrow
{
    width: 14px;
    height: 8px;
}

/* Живот */
.content
{
    display: flex;
}
.description
{
    position: absolute;
    width: 475px;
    /* height: 270px; */
    left: 213px;
    top: 383px;
}
.description h1
{
   
    width: 473px;
    height: 98px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    color: #222424;
}
.description p
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #222424;
    margin: 10px 0;
}
.description_link
{
    text-decoration: none;
    background: linear-gradient(122.72deg, #EAE7E7 45.61%, rgba(115, 121, 100, 0) 130.17%);
    filter: drop-shadow(0px 7px 4px rgba(195, 217, 210, 0.6));
    border-radius: 30px;
    width: 235px;
    margin-top: 30px;
    padding: 15px;
}
.description_link:hover
{
    background: linear-gradient(122.72deg, #ffd064 45.61%, rgba(115, 121, 100, 0) 130.17%);
}
.description_link a
{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #222424;
    align-items: center;
    margin-left: 20px;
    padding-top: 10px;
    /* display: block; */
    /* height: 100%; */
}


.photo_ellipse
{
    position: absolute;
    width: 783px;
    height: 728px;
    left: 685px;
    top: 177px;
    /* border: 100px solid #FFFCFC; */
    box-sizing: border-box;
}
.photo_mask
{
    position: absolute;
    width: 721.09px;
    height: 790px;
    left: 715px;
    top: 177px;
}
.photo_dog
{
    position: absolute;  
    left: 522px;
    top: 8px;
}
.photo_cat
{
    position: absolute;  
    left: 1053px;
    top: 635px;

}
